.center {
    text-align: center;
    border: 5px solid purple;
}

.list-center {
    display: inline-block;
    text-align: left;
}


.border-purple {
    border: 5px solid purple;
}


.border-blue {
    border: 5px solid blue;
}
